body {
    background-color: white !important;
}

/* Hide scrollbar Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar Firefox */
html {
    scrollbar-width: none !important;
}

/* Hide scrollbar Internet Explorer, Edge */
body {
    -ms-overflow-style: none !important;
}
