{% extends 'main.html' %} {% block content %}
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    
    h1 {
      color: red;
    }
    
    p {
      font-size: 1.2em;
    }
  </style>
  <div class="container m-0 p-0 w-100 h-100" style="height: max-content;">
    <div class="container d-flex justify-content-center align-content-start flex-column h-100">
        <h1 style="text-align: left;">Oops! Page Not Found (404)</h1>
        <p style="text-align: left;">You have visited a page that does not exist or perhapse went on a vacation and forgot to leave a forwarding address!</p>
    </div>
  </div>
{% endblock %}
