{% extends 'main.html' %} {% block content %}
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 50px;
    }
    
    h1 {
      color: red;
    }
    
    p {
      font-size: 1.2em;
    }
  </style>
  <div class="container">
    <h1>Something Went Wrong!</h1>
    <p>
      The server is experiencing a temporary concussion so its tachnically broken, try again later and if this persists, contact admin <a href="mailto:professorhilary98@outlook.com">professorhilary98@outlook.com</a>!
    </p>
  </div>
{% endblock %}
