<style>
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  li {
    list-style-type: none;
  }
</style>
<div class="fixed-top">
  <div class="container">
    <a class="bg-dark" href="/"><h1>LOGO</h1></a>
  </div>

  <nav class="bg-body-tertiary container">
    <div class="container-fluid d-flex my-3" style="justify-content: space-between;">
      <a class="navbar-brand">Navbar</a>
      <div class="d-flex" id="navbarText">
        <ul class="d-flex m-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
      <form action="{% url 'home' %}" method="get" class="d-flex" role="search">
        <input class="form-control w-100 mr-2" type="search" name="q" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container">
    {% if request.user.is_authenticated %}
      <p>Hello {{ request.user }}</p>
      <a href="{% url 'logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>

  <hr />
</div>
