{% extends 'main.html' %} {% block content %} {% if page == 'login' %}

<div
    class="d-flex flex-column"
    style="align-items: center; height: 90vh;"
>
    <div
        class="container py-5 bg-dark w-50 d-flex justify-center items-center flex-column mt-5"
        style="align-items: center; background-color:;"
    >
        <form action="" class="" style="width: 80%" method="POST">
            {% csrf_token %}

            <h3 style="color: #28c7a5">Welcome Back</h3>
            <h5 style="color: #aaa">Good to see you again</h5>

            <div class="mb-3 mt-4">
                <label for="username" class="form-label" style="color: white;">USERNAME <span class="text-danger">*</span></label>
                <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    id="username"
                    style="height: 40px; background: #6c757d !important;"
                    class="form-control py-3"
                    aria-describedby="usernameHelp"

                />
            </div>

            <div class="mb-3">
                <label for="username" class="form-label" style="color: white;">PASSWORD <span class="text-danger">*</span> </label>
                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    id="password"
                    class="form-control py-3" 
                    style="height: 40px; background: #6c757d !important;"

                />
            </div>

            <button type="submit" class="btn btn-primary my-3 w-100">Login</button>

            <div class="d-flex w-50">
                <p style="color: white;" class="pr-2">Haven't signed up?</p>
                <a href="{% url 'register' %}">Sign Up</a>
            </div>
        </form>

    </div>

    {% else %}

    <div class="container" style="">
        <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}
            <input type="submit" value="Register" />
        </form>

        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Log In</a>
    </div>
</div>
{% endif %} {% endblock %}
