{% extends "main.html" %} {% block content %}
{% load icons %}
<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }
</style>

<div class="room-container container mt-5" style="position: relative">
    <div style="padding: 20px">
        <div class="mb-5 d-flex" style="justify-content: space-between">
            <span>Authored by @{{ room.host.username }}</span>
            {% if request.user == room.host %}
            <div class="feed-actions m-0">
                <a href="{% url 'update-room' room.id %}" class="edit"
                    ><button class="btn btn-primary py-0" style="">
                        Edit <i class="fa fa-edit" aria-hidden="true"></i>
                    </button></a
                >
                <a
                    href="{% url 'delete-room' room.id %}"
                    class="delete text-danger"
                    ><button class="btn btn-danger py-0" style="">
                        Delete <i class="fa fa-trash" aria-hidden="true"></i>
                    </button></a
                >
            </div>
            {% endif %}
        </div>
        <h3>{{room.name}}</h3>
        <p>{{room.description}}</p>
        <span
            class="px-2 py-1"
            style="background-color: var(--tag-color); border-radius: 20px"
            >#{{room.topic}}</span
        >

        <div class="comment-wrapper mt-5">
            <span class="" style="font-weight: bold">Comments</span>
            <hr />

            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <textarea
                        class="form-control"
                        aria-label="With textarea"
                        placeholder="Write you comment here..."
                        rows="4"
                        style="
                            resize: none;
                            background-color: var(--comment-box);
                            color: var(--comment-box-text);
                            border-color: var(--card-border-color);
                        "
                        name="body"
                    ></textarea>
                    <button type="submit" class="btn btn-outline-primary my-3">
                        comment
                    </button>
                </form>
            </div>
            {% endif %} {% for message in room_messages %}
            <div class="pl-3 pt-2" style="background-color: var(--comment-box);border-left: 3px solid gray;">
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif %}
                <small
                    >@{{message.user}} {{message.created|timesince}} ago</small
                >
                <p>{{message.body}}</p>
                <hr />
            </div>
            {% endfor %}
        </div>
    </div>

    <div style="padding: 20px">
        <h3>Participants</h3>
        <hr />
        {% for user in participants %}
        <div>
            <p>@{{user.username}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
