{% extends "main.html" %} {% block content %}
<style>
    .topic-form{
        width: 100%;
    }
    /* Media Queries */
    @media screen and (min-width: 768px) {
        .topic-form{
            width: 50%;
        }
    }
</style>

<div class="container mt-5 topic-form" style="">
    <form action="" method="POST">
        <h3>New Topic</h3>
        {% csrf_token %} {% comment %} Form topic section {% endcomment %}
        <div class="form__group d-flex flex-column pb-2">
            <label for="room_topic">Notebook Tag</label>
            <input
                class="form-control"
                type="text"
                name="topic"
                id=""
                required
                value="{{room.topic.name}}"
                list="topic-list"
                style="
                    background-color: transparent;
                    color: var(--text-color);
                    border-color: var(--search-border);
                "
            />

            <datalist id="topic-list">
                <select name="" id="room_topic">
                    {% for topic in topics %}
                    <option value="{{topic.name}}">{{topic.name}}</option>
                    {% endfor %}
                </select>
            </datalist>
        </div>

        {% comment %} Form Name section {% endcomment %}
        <div class="form-field d-flex flex-column pb-2">
            <label for="room_topic">Notebook Title</label>

            <input
                type="text"
                name="name"
                id=""
                class="form-control"
                style="
                    background-color: transparent;
                    color: var(--text-color);
                    border-color: var(--search-border);
                "
            />
            {% comment %} {{form.name}} {% endcomment %}
        </div>

        {% comment %} Form description section {% endcomment %}
        <div class="form-field d-flex flex-column pb-2">
            <label for="room_topic">Notebook Details</label>

            <textarea
                name="description"
                id=""
                cols="30"
                placeholder="Enter description..."
                class="form-control"
                rows="6"
                style="
                    resize: none;
                    background-color: transparent;
                    border-color: var(--search-border);
                    color: var(--text-color);
                "
            ></textarea>
        </div>

        {% comment %} Form Submit Button {% endcomment %}
        <div class="d-flex gap-2">
            <button class="btn btn-primary my-3 px-4 mr-4" type="submit">
                Submit
            </button>
            <a href="{{request.META.HTTP_REFERER}}" class="text-white">
                <button class="btn btn-secondary my-3 px-4" type="button">
                    Go Back
                </button>
            </a>
        </div>
    </form>
</div>
{% endblock content %}
