{% extends "main.html" %} {% block content %}

<style>
    .update-form{
        width: 100% !important;
    }
    input, textarea{
        width: 100%;
        background-color: transparent;
        border: solid 1px var(--card-border-color);
        padding: 4px 5px;
        border-radius: 5px;
        color: var(--text-color);
    }

    /* Media Queries */
    @media screen and (min-width: 768px) {
        .update-form{
            width: 500px !important;
        }
    }
</style>

<div class="container mt-5 update-form">
    <h4>Edit Profile Information</h4>
    <hr style="background-color: var(--card-border-color);">

    <form action="" class="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}

        <div class="d-flex flex-column form__group">
            <div class="mb-3">
                <label for="" class="mb-2">
                    {{field.label}}
                </label>
                
                {{field}}
                
            </div>

            {% endfor %}
            
            <div class="container d-flex px-0 my-2 justify-content-between align-items-center">
                <span class="toggle-container mb-0">Change Theme</span>
                
                <div class="toggle-container mb-0">
                    <span id="toggle-label" style="display: block !important">Dark</span>
                    <div class="toggle-switch">
                        <div class="toggle-circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column form__action">
            <button class="btn btn-primary my-3 px-4 btn--main" type="submit">
                Save Changes
            </button>
            <a href="{{request.META.HTTP_REFERER}}" class="py-2 text-danger">Go Back</a>
        </div>
    </form>

</div>


<script>
    
  </script>

{% endblock content %}