{% extends "main.html" %} {% block content %}

<style>
    input{
        width: 100%;
        background-color: transparent;
        border: solid 1px var(--card-border-color);
        padding: 4px 5px;
        border-radius: 5px;
        color: var(--text-color);
    }

    
</style>

<div class="container mt-5" style="width: 40%">
    <h4>Edit Profile Information</h4>

    <form action="" class="form" method="POST">
        {% csrf_token %} {% for field in form %}

        <div class="d-flex flex-column form__group">
            <div class="mb-3">
                {{field.label}}
                {% comment %} <input
                    type="{{field.type}}"
                    class="form-control py-2 mt-2"
                    id="{{field.label}}"
                    style="background: transparent; width: 100%"
                /> {% endcomment %}
                {{field}}
            </div>

            {% endfor %}
        </div>
        <div class="d-flex form__action">
            <button class="btn btn-primary my-3 px-4 mr-4 btn--main" type="submit">
                Save Changes
            </button>
            <a href="{{request.META.HTTP_REFERER}}" class="text-white">
                <button class="btn btn-secondary my-3 px-4" type="button">
                    Go Back
                </button>
            </a>
        </div>
    </form>
</div>

{% endblock content %}
